
/*
		@Header

 */
.header-top{
	background: #26afdb;
	background: -moz-linear-gradient(top, #26afdb 0%, #20a2cc 100%);
	background: -webkit-linear-gradient(top, #26afdb 0%,#20a2cc 100%);
	background: linear-gradient(to bottom, #26afdb 0%,#20a2cc 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#26afdb', endColorstr='#20a2cc',GradientType=0 );
}
.logo{
	width: 40%; 
	margin-top: 2%;
	margin-left: 5%;
}
.buttonmenu{
	color:#ffffff;
	font-size:30px
}

.bg-aviao{
	background: url('../img/aviao.png');
	position: relative; 
	background-repeat: no-repeat;
}
 
.bg-pessoas{
	background: url('../img/pessoas.png');
	position: relative;
	background-repeat: no-repeat;


}
.bg-logoTour{
	background: url('../img/logo-intertur.png') center bottom;
	position: relative;
	background-repeat: no-repeat;
	
}
.bg-nuvens{
	background: url('../img/Nuvens.png')  top center;
	background-position: 50% ;
	position: relative;
	max-width: 115%;
	width: 110%;
	background-repeat: no-repeat;
	padding: 28%;
	
}
.a{
	background: url("../img/QuerConhecerDisney.png") center;
	background-repeat: no-repeat;
	position: relative;
}

.video{
	background-color: black;
	width: 550px;
	height:450px;
}
#botaoBaixoVideo{
	padding: 7%;
	text-decoration: none;
}
.botaoTeste{
	position: 10% 10%;
	text-decoration: none;
}
.botaoTeste:hover{
	background-color: orange;
	border-color: blackorange; 
	text-decoration: none;
}
.botaoTeste:a{
	text-decoration: none;
}
.textoBaixoBotao{
	color: orange;
}
.tituloPergunta{
	font-size: 20px;
}
.fundoLaranja{
	background:url('../img/FundoLaranja.png') no-repeat  ;
	background-size: cover;
	background-size-x:120%;
}
.jaSonhou{
	background:url('../img/JaSonhou.png') center top;
	background-repeat: no-repeat;
	padding: 26%;
	position: 10% 20%;
}
#retangulos{
	background:url('../img/Retangulos.png') center top;
	background-repeat: no-repeat;
	padding: 25%;
	bottom: 125px;
}
.retanguloNegativo{
	margin: 3% 3% 3% 3%;
	width: 100px;	
	height: 125px;
	 -webkit-transform: skew(-7deg);
	-moz-transform:skew(-7deg);
	-webkit-transform:skew(-7deg);
	-o-transform:skew(-7deg);
	-ms-transform:skew(-7deg);
	transform:skew(-7deg);
}
.retanguloPositivo{
	margin: 3% 3% 3% 3%;
	-webkit-transform: skew(5deg);
	-moz-transform:skew(5deg);
	-webkit-transform:skew(5deg);
	-o-transform:skew(5deg);
	-ms-transform:skew(5deg);
	transform:skew(5deg);
	width: 100px;	
	height: 125px;
}
.retanguloAzul{
	background-color: #00BFFF;
	color: #FFFF00;
}
.retanguloAmarelo{
	background-color: yellow;
	color: #CD0000;
}
.retanguloAzul h2{
	margin-top: 5%;
	
}
.retanguloAmarelo h2{
	margin-top: 5%;
}
.esquerda{
	margin-left: -2%;
	margin-right: 5%;
}
.linha{
	z-index: 100;
	margin-bottom: -60%;;
}
#botao{
	margin-top: 5%;
	z-index: 100;
}
.ReceberVantagens{
	background-color: white;
	margin-right: 2%;
	margin-top: 10%;
}
.bolaAzul{
	bottom: 130px;
	width: 300px;
}
.h2Retangulo{
	bottom: 125px;
	color: #FF0000;
}
.lista{
	font-size: 22px;
	border: none;
	margin-bottom: 5%; 
}
.listaMickey{
	margin-top:-15%;
}
.listaMickey li{
	list-style-image: url('../img/MickeyTopic.png');
	margin-left:5%;
}
.parag{
	font-size: 16px;
}
.confira{
	background:url('../img/ConfiraDepoimentos.png') center top;
	background-repeat: no-repeat;
	padding: 18%;
	bottom: 100px;
}
.bordaPontilhada{
	border: 2px dashed orange;
	margin-right: 2%;
	padding-bottom: 2%;
}
.mickey{
	background:url('../img/Mickey.png')  top ;
	background-repeat: no-repeat;
	padding: 28%;
}
.imgCirculo{
	margin-left: 5px;
	margin-top: 7px;
}
.bolinhaEstrela{
	font-size: 30px;
	color: darkorange;
	margin-right: 10px;

}
.estrelaBolinha{
	font-size: 20px;
	color: yellow;
	margin-left: 50px;

}
.fundoLaranja2{
	background:url('../img//FundoLaranja3.png')  center;
	background-position: cover;
	background-repeat: no-repeat;

}
.requisito{
	background:url('../img/Requisitos.png') top center;
	background-repeat: no-repeat;
	padding: 20%;
	left: 50px; 
	bottom: 70px;
}
.bolaRequisito{
	background:url('../img/BolasRequisitos.png') center;
	background-repeat: no-repeat;
	padding: 10%;
	bottom: 70px;
}
.veremos{
	bottom: 50px;
	color: white; 
	font-size: 30px
}
.conquisteAgora{
	background:url('../img/ConquisteAgora.png') center;
	background-repeat: no-repeat;

}






.customRadio input[type="radio"]{
	position: absolute;
	left: -9999px;

}


.customRadio input[type="radio"] + label{
	position: relative;
	padding: 0px 0 0 40px;
	cursor: pointer;
	top:4px;
}

.customRadio input[type="radio"] + label:before{
	content: "";
	background-color: #ffffff;
	border: 1px solid #549DE6;
	height: 23px;
	width:23px;
	border-radius: 50%;
	position: absolute;
	top: 0;
	left: 0;
}
.customRadio input[type="radio"] + label:after{
	content: '';
	background-color: #505151;
	width: 13px;
	height: 13px;
	border-radius: 50%;
	position: absolute;
	top: 5px;
	left: 5px;
	opacity: 0;
}
.customRadio input[type="radio"]:checked + label:after{
	opacity: 1;
}
.textError{
	color: red;
	text-shadow:0px 0.5px #990000;
	margin-right: -10%;
}




.textoRadio{
	font-size: 18px;
}

footer{
	background: #ffffff;
	padding: 120px 0;
}

.b{
	border: 1px solid red;
}

.social{
	font-size: 15px;
	color:#003067;
	padding: 60px 0 0px;
}

.sobre{
	background: url("../img/bg-escola.jpg") no-repeat center top;
	background-size: cover;
	padding: 100px;
}

.sobre h2{
 color:#ffffff;
 text-transform: uppercase;
 font-weight: 100;

}

.color-white{
	color:#ffffff;
}

.btn-orange{
	background: #ee6623;
	color:#ffffff !important;
	padding: 15px 20px;
}

.corpo_questao{
	background-color: #ffffff;
	opacity:0.98;
	padding: 3%;

}
.form-check{
	margin-left: 4%;
	margin-top: 1%;
	font-size: 18px;
}
.testefluid{
	background: url('../img/fundoProva.png') no-repeat center ;
	background-size: cover;
	padding: 10%;
}
.questao p{
	margin-left: 2%;
	font-size: 25px;
}
.botao_proximo{
	margin-bottom: : 5%;
	margin-left: 85%;
}

.testecontainer{
	background-color: blue;
}
.testerow{
	background-color: yellow;
}

@media (max-width: 768px){
	.bg-aviao{
		background: url('../img/aviao.png') center;
		position: relative; 
		background-repeat: no-repeat;
		background-size: 100%;
		width: 100%;
	}
 
	.bg-pessoas{
		background: url('../img/pessoas.png');
		position: relative;
		background-repeat: no-repeat;
		background-size: 100%;
		width: 100%;

	}
	.bg-logoTour{
		background: url('../img/logo-intertur.png') center bottom;
		position: relative;
		background-repeat: no-repeat;
		background-size: 100%;
		width: 50%;
		margin-left: 25%;
		padding:30%;
	}
	.bg-nuvens{
		background: url('../img/Nuvens.png')  center ;
		position: relative;
		background-repeat: no-repeat;
		background-size: 100%;
		width: 100%;
		z-index: -2;
		
	}
	.logo{
		width: 30%; 
		margin-top: ;
		margin-left:-10% ;
	}
	.buttonmenu{
		color:#ffffff;
		font-size:20px
	}
	.a{
		background: url("../img/QuerConhecerDisney.png") center;
		background-repeat: no-repeat;
		position: relative;
		background-size: 180%;
		padding:41%;
		margin-top: -10%;
	}
	.video{
		background-color: black;
		width: 290px;
		height:200px;
	}
	#botaoBaixoVideo{
		width: 100%;
		height: auto;
		text-decoration: none;
	}
	.botaoTeste{
		width: 100%;
		height: 35px;
		text-decoration: none;
		font-size: 14px;
	}
	.textoBaixoBotao{
		color: orange;
		font-size: 15px;
	}
	.fundoLaranja{
		background:url('../img/FundoLaranja.png') no-repeat ;
		height: auto;
		background-size: 600%;
		padding-bottom: 10%;
	}
	.jaSonhou{
		background:url('../img/JaSonhou.png') center top;
		background-repeat: no-repeat;
		background-size: 150%;
		padding:40%;
	}
	.h1Responsive{
		font-size: 25px;
		color: white
	}
	.h2Responsive{
		margin-top: 5%;
		font-size: 20px;
		color: white;
	}
	.retanguloNegativo{
		width: 100%;	
		height: 63px;
		 -webkit-transform: skew(0deg);
		-moz-transform:skew(0deg);
		-webkit-transform:skew(0deg);
		-o-transform:skew(0deg);
		-ms-transform:skew(0deg);
		transform:skew(0deg);
	}
	.retanguloPositivo{
		-webkit-transform: skew(0deg);
		-moz-transform:skew(0deg);
		-webkit-transform:skew(0deg);
		-o-transform:skew(0deg);
		-ms-transform:skew(0deg);
		transform:skew(0deg);
		width: 100%;	
		height: 63px;
	}
	.corpoRetangulo{
		margin-top: 6%;
		margin-bottom: 28%;
		margin-left: -3%;
	}
	.linha{
		display: none;
	}	
	.retanguloAzul{
		background-color: #00BFFF;
		color: #FFFF00;
	}
	.retanguloAmarelo{
		background-color: yellow;
		color: #CD0000;
	}
	.retanguloAzul h2{
		margin-top: 3%;
		font-size: 18px;
		
	}
	.retanguloAmarelo h2{
		margin-top: 3%;
		font-size: 18px;
	}
	.ReceberVantagens{
		background-color: white;
		margin-bottom: 25%;	
	}
	.bolaAzul{
		bottom: 100px;
		width: 100%;
		background-size: 100%;
		margin-top: -10%;
	}
	.h2Retangulo{
		font-size: 30px;
		bottom: 125px;
		color: #FF0000;
	}
	.lista{
		font-size: 20px;
		margin-left: -5%;
		border: none;
		margin-top: 15%; 
	}
	.parag{
		font-size: 15px;
	}
	.listaMickey{
		margin-top:-40%;
	}
	.listaMickey li{
		list-style-image: url('../img/MickeyTopic.png');
		margin-left:5%;
	}
	#botao{
		z-index: 12;
	}
	.confira{
		background:url('../img/ConfiraDepoimentos.png') center top;
		background-repeat: no-repeat;
		background-size: 130%;
		padding: 21%;
		margin-top: 2%;
		margin-bottom: -11%;
		z-index: 2;
	}
	.bordaPontilhada{
		border: 2px dashed orange;
		margin-bottom: 10%;
		margin-right: 2%;
		padding-bottom: 5%; 
	}
	.mickey{
		background:url('../img/Mickey.png')  top ;
		background-repeat: no-repeat;
		background-size: 80%;
	}
	.imgCirculo{
		width: 60%;
		margin-left: 0px;
		margin-top: 5px;
	}
	.nomeConfira{
		font-size: 25px;
	}
	.textoConfira{
		font-size: 18px;
	}
	.bolinhaEstrela{
		font-size: 30px;
		color: darkorange;
		margin-right: 10px;
		margin-bottom: 5%;
	}
	.estrelaBolinha{
		font-size: 20px;
		color: yellow;
		margin-left: 50px;

	}
	.fundoLaranja2{
		background:url('../img//FundoLaranja3.png')  center;
		background-position: cover;
		background-repeat: no-repeat;
	}
	.requisito{
		background:url('../img/Requisitos.png') top center;
		background-repeat: no-repeat;
		background-size: 150%;
		padding: 40%;
		margin-left: -10%;
		margin-top: 13%;
	}
	.bolaRequisito{
		background:url('../img/BolasRequisitos.png') center;
		background-repeat: no-repeat;
		background-size: 128%;
		padding: 11%;
	}
	.veremos{
		bottom: 20px;
	}
	.veremos h1{
		font-size: 20px;
	}
	.conquisteAgora{
		background:url('../img/ConquisteAgora.png') center;
		background-repeat: no-repeat;
		background-size: 120%;
		margin-top: -25%;
		margin-bottom: -20%;
	}
	.conheca h2{
		font-size: 24px;
		margin-left: 10%;
	}
	.botaoTeste2{
		width: 175%;
	    height: 40px;
	    text-decoration: none;
	    font-size: 14px;
	    margin-left:-35%;
	}
	.imgConheca{
		width: 150%;
		margin-left: -25%;
	}
	.conhecaTexto{
		padding:10%;
		font-size: 16px;
	}
	.conheca{
		margin-left: -4%;
	}
	.logoFooter{
		width: 100%;
	}
	.contFooter{
		margin-top: -5%;
	}
}