
/*
		@Header

 */
.header-top{
	background: #26afdb;
	background: -moz-linear-gradient(top, #26afdb 0%, #20a2cc 100%);
	background: -webkit-linear-gradient(top, #26afdb 0%,#20a2cc 100%);
	background: linear-gradient(to bottom, #26afdb 0%,#20a2cc 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#26afdb', endColorstr='#20a2cc',GradientType=0 );
}

.buttonmenu{
	color:#ffffff;
	font-size:30px
}

.bg-aviao{
	background: url('../img/aviao.png');
	position: relative; 
	background-repeat: no-repeat;
}
 
.bg-pessoas{
	background: url('../img/pessoas.png');
	position: relative;
	background-repeat: no-repeat;
}
.bg-logoTour{
	background: url('../img/logo-intertur.png');
	position: relative;
	margin-left: 25%;
	background-repeat: no-repeat;
}

.bg-nuvens{
	background: url('../img/Nuvens.png')  top center;
	background-position: 50% ;
	position: relative;
	max-width: 115%;
	width: 112%;
	background-repeat: no-repeat;
}
#a{
	background: url("../img/QuerConhecerDisney.png") center;
	background-repeat: no-repeat;
	position: relative;
	position: 10% 10%;

}

#video{
	background-color: black;
	padding: 40%;
}
#botaoBaixoVideo{
	padding: 7%;
}
.botaoTeste{
	position: 10% 10%;
	background-color: orange;
	border-color:orange;
}
.botaoTeste:hover{
	background-color: orange;
	border-color: black; 
}
.textoBaixoBotao{
	color: orange;
}
.fundoLaranja{
	background:url('../img/FundoLaranja.png') no-repeat  ;
	background-size: cover;
	background-size-x:120%;
}
#jaSonhou{
	background:url('../img/JaSonhou.png') center top;
	background-repeat: no-repeat;
	padding: 26%;
	position: 10% 20%;
}
#retangulos{
	background:url('../img/Retangulos.png') center top;
	background-repeat: no-repeat;
	padding: 25%;
	bottom: 125px;
}
#ReceberVantagens{
	background:url('../img/ReceberVantagens.png') center top;
	background-repeat: no-repeat;
	padding: 30%;
}
.confira{
	background:url('../img/ConfiraDepoimentos.png') center top;
	background-repeat: no-repeat;
	padding: 18%;
	bottom: 100px;
}
.bordaPontilhada{
	border: 2px dashed orange;
	margin-right: 2%;
}
.mickey{
	background:url('../img/Mickey.png')  top ;
	background-repeat: no-repeat;
	padding: 28%;
	margin-bottom: : 20%;
}
.imgCirculo{
	margin-left: 5px;
	margin-top: 7px;
}
.bolinhaEstrela{
	font-size: 30px;
	color: darkorange;
	margin-right: 10px;

}
.estrelaBolinha{
	font-size: 20px;
	color: yellow;
	margin-left: 50px;

}
.fundoLaranja2{
	background:url('../img//FundoLaranja2.png')  center;
	background-position: cover;
	background-repeat: no-repeat;

}
.requisito{
	background:url('../img/Requisitos.png') top center;
	background-repeat: no-repeat;
	padding: 20%;
	left: 50px; 
	bottom: 70px;
}
.bolaRequisito{
	background:url('../img/BolasRequisitos.png') center;
	background-repeat: no-repeat;
	padding: 10%;
	bottom: 70px;
}
.veremos{
	bottom: 50px;
}
footer{
	background: #ffffff;
	padding: 120px 0;
}

.b{
	border: 1px solid red;
}

.social{
	font-size: 15px;
	color:#003067;
	padding: 60px 0 0px;
}

.sobre{
	background: url("../img/bg-escola.jpg") no-repeat center top;
	background-size: cover;
	padding: 100px;
}

.sobre h2{
 color:#ffffff;
 text-transform: uppercase;
 font-weight: 100;

}

.color-white{
	color:#ffffff;
}

.btn-orange{
	background: #ee6623;
	color:#ffffff !important;
	padding: 15px 20px;
}

.testecontainer{
	background-color: blue;
}
.testefluid{
	background-color: purple;
}
.testerow{
	background-color: yellow;
}
